@model ResultBlogCategoryDTO
@{
    ViewData["Title"] = "Blog Kategori Detayları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm rounded border-primary">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold">Kategori ID</dt>
                <dd class="col-sm-9">@Model.BlogCategoryID</dd>

                <dt class="col-sm-3 fw-bold">Kategori Adı</dt>
                <dd class="col-sm-9">@Model.Name</dd>

           @*     <dt class="col-sm-3 fw-bold">Blog Sayısı</dt>
                <dd class="col-sm-9">@Model.Blogs?.Count ?? 0</dd>*@
            </dl>
            <div class="d-flex justify-content-between">
                <a asp-action="Index" asp-area="Admin" class="btn btn-secondary">Geri Dön</a>
                <a asp-action="Edit" asp-area="Admin" asp-route-id="@Model.BlogCategoryID" class="btn btn-warning">Güncelle</a>
            </div>

        </div>
    </div>
</div>

