<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Education | Template</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="manifest" href="@Url.Content("~/site.webmanifest")" />
<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/onlineedu-master/assets/img/favicon.ico")" />

<!-- CSS here -->
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/bootstrap.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/owl.carousel.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/slicknav.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/flaticon.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/gijgo.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/animate.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/magnific-popup.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/fontawesome-all.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/themify-icons.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/slick.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/nice-select.css")" />
<link rel="stylesheet" href="@Url.Content("~/onlineedu-master/assets/css/style.css")" />
