@model ResultContactDTO
@{
    ViewData["Title"] = "İletişim Detayı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm rounded border-primary">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Harita</dt>
                <dd class="col-sm-9">@Model.MapUrl</dd>

                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">@Model.Address</dd>

                <dt class="col-sm-3">Telefon</dt>
                <dd class="col-sm-9">@Model.Phone</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>
            </dl>
            <div class="d-flex justify-content-between">
                <a asp-action="Index" asp-area="Admin" class="btn btn-secondary">Geri Dön</a>
                <a asp-action="Edit" asp-area="Admin" asp-route-id="@Model.ContactID" class="btn btn-warning">Güncelle</a>
            </div>
        </div>
    </div>
</div>

