@model List<ResultBlogDTO>
<div class="home-blog-area section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center mb-50">
                    <span>Blogumuzdan Son Haberlerimiz</span>
                    <h2>Blogdan Son Haberler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in Model)
            {
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="@blog.ImageUrl" alt="">
                                <div class="blog-date text-center">
                                    <span>@blog.PublishDate.Day</span>
                                    <p>@blog.PublishDate.ToString("MMM")</p>
                                </div>
                            </div>
                            <div class="blog-cap">
                                <p>| @blog.Category?.Name</p>
                                <h3><a href="/Blog/Detail/@blog.BlogID">@blog.Title</a></h3>
                                <a href="/Blog/Detail/@blog.BlogID" class="more-btn">Devamını oku »</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>